/*地址部分的显示样式*/
.address-item,
.address-add {
    float: left;
    margin: 20px 20px 0 0;
    padding: 5px 8px;
    width: 200px;
    border: 3px dashed #ccc;
    cursor: pointer;
}

/*已经显示了的地址以及新增的地址鼠标悬停时的样式*/
.address-item:hover,
.address-add:hover {
    background: #fafafa;
}

.address-item.active{
    border: 3px dashed #c60023;
}

/*收货地址标题部分的显示样式*/
.address-item .address-title{
    /*padding-bottom: 3px;*/
    border-bottom: 1px solid #ccc;
    color: #666;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
}

.address-item .address-detail{
    margin-top: 5px;
    height:40px;
    line-height: 20px;
    overflow: hidden;
    color: #666;
}

/*默认不显示删除和编辑地址的按钮  当鼠标悬停的时候进行展示*/
.address-item .address-opera{
    text-align: right;
    visibility: hidden;
}

.address-item:hover .address-opera{
    visibility: visible;
}


.address-item .address-opera .link{
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/*新增地址部分的样式*/
.address-add .address-new {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.address-add .address-new .fa{
    font-size: 45px;
    line-height: 45px;
}
.address-add .address-new .text{
    font-size: 13px;
}