/*个人中心显示的时候每一行的样式*/
.form-line {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 10px;
}

/*标题的显示样式*/
.form-line .label {
    display: inline-block;
    /* 定宽看起来更加的整齐*/
    width: 60px;
    text-align: center;
}

/* 修改个人用户页的输入框的样式 */
.form-line .input {
    height: 25px;
    line-height: 25px;
    width: 200px;
    font-size: 14px;
}