/*
 * @Author: gaocong 
 * @Date: 2018-07-30 16:16:05 
 * @Last Modified by: gaocong
 * @Last Modified time: 2018-07-30 16:38:54
 */

 .nav-simple{
     height: 60px;
     line-height: 60px;
     border-bottom: 1px solid #ddd;
     background: #fff;
 }

 .nav-simple .logo{
     font-size: 26px;
     font-weight: bold;
     color: #c60023;
 }