/*
 * @Author: gaocong 
 * @Date: 2018-07-31 17:02:18 
 * @Last Modified by: gaocong
 * @Last Modified time: 2018-07-31 17:11:24
 */

.page-wrap {
    background: #fff;
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
}

.result-con{
    display: none;
}

.result-con .result-title{
    color: #555;
}

.result-con .result-content{
    margin-top: 20px;
    
}

.result-con .result-content .link{
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 5px;
}